{{#if @root.data.accountInfo.local_authority ~}}
{{#with (getProperty @root.context.metaData.tsiList (slugify @root.data.accountInfo.local_authority)) ~}}
{{#each contacts ~}}
{{#if (regexMatch @root.data.accountInfo.postcode pattern "gi") ~}}
{{#ifAll logo website ~}}
<a href="{{fixUrl website}}" target="_blank"><img src="{{logo}}" class="img-responsive" alt="{{title}}" /></a>
{{/ifAll ~}}
{{/if ~}}
{{/each ~}}
{{/with ~}}
{{/if ~}}