<div class="b-margin-full">
  {{#unless @root.data.isAdmin ~}}
  {{#unless (compare (dateMath 'now-27y') ">" (moment @root.data.accountInfo.date_of_birth "YYYY-MM-DD")) ~}}
  <a href="/task" class="btn btn-primary">
    Add new volunteering task
  </a>
  {{/unless ~}}
  <a href="/claim-hours" class="btn">
    Claim hours with code
  </a>
  {{else}}
  {{#unless (compare @root.route.name "groups") ~}}
  <a href="/groups" class="btn btn-primary">
    List groups
  </a>
  {{/unless ~}}
  <a href="/task" class="btn{{#compare @root.route.name 'groups'}} btn-primary{{/compare}}">
    Add new group
  </a>
  {{/unless ~}}
</div>
