<div class="card-footer">
  {{#unless (compare action 'organisation') ~}}
  <a href="/search/opportunity/{{Id}}/{{title_slug}}{{> query_search}}" class="btn btn-link">Find out more</a>
  {{/unless ~}}
  <div class="pull-right">
    <div id="action-chips" class="chip-set">
      {{#if opportunity_contact_email ~}}
        {{> opportunity_register_interest_faux_chip id=Id}}
      {{else}}
        {{> opportunity_register_interest_faux_chip disabled=true}}
      {{/if ~}}
    </div>
  </div>
</div>