{{#if disabled ~}}
<div title="You can't volunteer for this opportunity using this site" class="chip chip--register-interest chip--disabled noselect">
  <span class="far fa-envelope" aria-hidden="true"></span>
  <span class="">I want to volunteer</span>
</div>
{{else}}
<a href="https://search.volunteerscotland.net/register-interest/{{Id}}/{{title_slug}}?utm_source=saltire-awards&utm_campaign=search&utm_medium=website" class="chip chip--register-interest">
  <span class="far fa-hand-paper" aria-hidden="true"></span>
  <span class="noselect">&ensp;I want to volunteer</span>
</a>
{{/if ~}}