<div class="container">
  {{> opportunity_search_form}}
  {{#compare @root.data.supplimentaryResponses.opportunity.hits.total ">" 0 ~}}
  <div class="content-primary clearfix">
    {{#each @root.data.supplimentaryResponses.opportunity.hits.hits ~}}
      {{> opportunity_full _source view="full"}}
    {{/each ~}}
  </div>

  {{#compare @root.data.opportunitySupplimentary.related.hits.total ">" 0 ~}}
  <div class="content-related">
    <h3 class="b-margin-full t-margin-sm">
      Similar opportunities
    </h3>
    <div class="equal-height cards">
      <div class="columns">
        {{#each @root.data.opportunitySupplimentary.related.hits.hits ~}}
        <div class="column col-6">
          {{> opportunity_list _source hitContext="related-opportunity" parentDocument=_source.Id viewContext="Related"}}
        </div>
        {{/each ~}}
      </div>
    </div>
  </div>
  {{/compare ~}}

  {{else}}
  <p>
    We could not find the opportunity you were looking for. It may have been removed or expired.
  </p>
  {{/compare ~}}
</div>