{{#if data.primaryResponse.hits.hits.[0] ~}}
<title>Find opportunities – Saltire Awards</title>
<meta property="og:title" content="Find opportunities – Saltire Awards" data-dynamic="true">
{{else}}
<title>{{> page_title location="head"}}</title>
<meta property="og:title" content="{{> page_title location="head"}}" data-dynamic="true">
{{/if ~}}