<form id="reset-password-form" method="POST" class="container form authentication-form">
  <!-- <h2 class="x-padding">
    Reset password
  </h2> -->
  <p class="l-margin r-margin">
    Enter your email address to be sent a password reset link
  </p>
  <div class="l-margin r-margin">
    <div id="reset-password-message">
      <span id="form-message"></span>
    </div>
  </div>
  <div class="x-padding">
    <div id="form-section-email">
      <div class="form-group has-icon-left">
        <input class="form-input" type="email" id="reset-password-email" placeholder="Your email address" required />
        <span class="form-icon far fa-at"></span>
      </div>
    </div>
    <div id="form-section-sign-in-buttons" class="t-margin">
      <button class="btn btn-primary" type="submit" id="reset-password-submit">
        Send reset link
      </button>
    </div>
    <div class="card-loader" id="reset-password-loader">
      <div class="card-loader-inner">
        <span class="far fa-2x fa-spinner-third fa-spin"></span>
      </div>
    </div>
  </div>
</form>
<script>
document.addEventListener("DOMContentLoaded", function(event) {
  var $form = $('#reset-password-form');
  var $message = $('#reset-password-message');
  var $email = $('#reset-password-email');
  var $login = $('#reset-password-submit');
  var $loader = $('#reset-password-loader');

  $form.on('submit', function(evt) {
    var email = $email.val();
    $loader.css('display', 'flex');
    evt.preventDefault();
    saltireawards.auth.sendPasswordReset(email).then(function() {
      $message.text('If there is an account associated with this email address, instructions on resetting your password have been sent there.').show();
      $loader.css('display', 'none');
    }).catch(function(err) {
      $message.text(err.message).show();
      $loader.css('display', 'none');
    });
  });
});
</script>