<div class="empty">
  <div class="empty-icon">
    <span class="fal fa-user-check fa-3x"></span>
  </div>
  <p class="empty-title h5">Volunteering verification</p>
  <p class="empty-subtitle">
    Volunteering verification successful. You can now close this page.
  </p>
</div>
