<div class="empty">
  <div class="empty-icon">
    <span class="fal fa-exclamation-circle fa-3x"></span>
  </div>
  <p class="empty-title h5">Error 404: The page you requested could not be found</p>
  <p class="empty-subtitle">Please try again, but contact us if the problem persists.</p>
  <div class="empty-action">
    <a href="/" class="btn btn-primary">Home</a>
    <a href="mailto:{{> support_email_address}}" class="btn btn-link">Contact us</a>
  </div>
</div>