@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,800&display=swap');

$primary-color: #009DDA;
$primary-color-light: lighten($primary-color, 30%) !default;
$primary-color-dark: darken($primary-color, 6%) !default;
$secondary-color: #253887;
$secondary-color-light: lighten($secondary-color, 30%) !default;
$secondary-color-dark: darken($secondary-color, 10%) !default;
$bg-color: lighten($secondary-color-light, 32%) !default;
$bg-color-light: lighten($bg-color, 4%) !default;
$bg-color-dark: darken($bg-color, 4%) !default;
$dark-color: #10183A;
$gray-color: #333E48;
$light-color: #FFFFFF;
$success-color: rgb(0, 96, 0);
$warning-color: rgb(255, 190, 26);
$error-color: rgb(255, 96, 3);

$theme-challenge: #008DDE;
$theme-approach: #3BAA34;
$theme-ascent: #F05B23;
$theme-summit: #514680;

$theme-footer: #591669;
$theme-footer-light: #e7eaec;
$theme-footer-dark: #333E48;

$unit: 1rem;
$link-font-weight: 500;
$heading-font-weight: 600;
$badge-font-weight: 800;
$page-width: 1200px;
$home-splash-height: 25vh;

@import "../node_modules/spectre.css/src/spectre";
@import url('../node_modules/leaflet.markercluster/dist/MarkerCluster.css');
@import url('../node_modules/leaflet.markercluster/dist/MarkerCluster.Default.css');

.container {
  padding: 0 $unit;
}
body,
.footer-copyright {
  background-color: $theme-footer-light;
}
.footer-main {
  background-color: $theme-footer;
}
.page {
  background-color: white;
  // margin-bottom: $unit*1.5;
}

html {
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
}

body,
input,
select,
textarea,
body * {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}
body::after,
body::before,
input::after,
input::before,
select::after,
select::before,
textarea::after,
textarea::before,
body *::after,
body *::before {
  box-sizing: border-box;
}

h1 {
  font-size: 1.8rem;
  margin: $unit/2 0 $unit;
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: $heading-font-weight;
  letter-spacing: -0.05rem;
}
a,
.btn,
.chip,
footer h4,
strong {
  font-weight: $link-font-weight;
}

a,
a:visited,
a:link {
  color: $secondary-color;
  text-decoration: none;
  text-decoration-skip-ink: auto;
}
a:hover {
  color: $secondary-color-dark;
  text-decoration: underline;
}
a:focus,
.btn:focus {
  outline: none;
  box-shadow: none;
}
.chip-set a:hover,
a.pure-menu-link:hover {
  text-decoration: none;
}
.chip {
  color: $primary-color-dark !important;
  background-color: lighten($primary-color-light, 23%);
}
.chip:hover {
  color: white !important;
  background-color: $primary-color-dark;
}

a.btn:link,
a.btn:visited,
.btn {
  color: $primary-color;
  border-color: $primary-color;
}
a.btn:active,
a.btn:focus,
a.btn:hover,
.btn:active,
.btn:focus,
.btn:hover {
  background-color: $light-color;
  color: $primary-color-dark;
  border-color: $primary-color-dark;
}
a.btn-primary:link,
a.btn-primary:visited,
.btn-primary,
a.btn-secondary:link,
a.btn-secondary:visited,
.btn-secondary {
  color: white;
}
a.btn-link {
  border: none;
}
a.btn-link:hover {
  background-color: transparent;
}

#toaster {
  position: fixed;
  z-index: 2;
  bottom: $unit;
  left: 50%;
  width: 300px;
  margin-left: -150px;

  .btn:hover,
  a {
    color: white;
  }

  .toast {
    position: relative;
    margin-top: $unit/4;
  }

  .toast-in {
    animation: toast-in 0.4s ease-in,
               toast-out 0.4s ease-in 5.4s;
    animation-fill-mode: forwards;
  }

  .toast-hovered {
    animation: 0, 0;
    top: 0;
    opacity: 1;
  }

  .toast-out {
    animation: toast-out 0.4s ease-in 5s;
    animation-fill-mode: forwards;
  }

  .toast-closed {
    animation: toast-out 0.4s ease-in;
    animation-fill-mode: forwards;
  }

  @keyframes toast-in {
    0% {
      transform: translateY(100px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes toast-out {
    0% {
      transform: translateX(0);
      opacity: 1;
    }
    99% {
      opacity: 0;
      transform: translateX(60vh);
    }
    100% {
      opacity: 0;
      transform: translateX(9999px);
      pointer-events: none;
    }
  }
}

@media screen and (min-width: 961px) {
  .mobile-menu {
    display: none;
  }
}
@media screen and (max-width: 960px) {
  .mobile-menu {
    display: block;

    .mobile-menu_background {
      background-color: #00000033;
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 1;
      opacity: 0;
    }

    .mobile-menu_contents {
      position: fixed;
      background-color: #ffffff;
      height: 100vh;
      width: 300px;
      z-index: 1;
      top: 0;
      left: -300px;
    }

    &.mobile-menu_open {
      .mobile-menu_background {
        animation: fade-in 0.5s forwards;
      }

      .mobile-menu_contents {
        animation: slide-in 0.5s forwards;
      }
    }

    &.mobile-menu_closing {
      .mobile-menu_background {
        animation: fade-out 0.5 forwards;
      }

      .mobile-menu_contents {
        animation: slide-out 0.5s forwards;
      }
    }

    &.mobile-menu_closed {
      display: none;
    }
  }

  @keyframes slide-in { 100% { left: 0 } }
  @keyframes slide-out { 0% { left: 0; } 100% { left: -300px; } }
  @keyframes fade-in { 100% { opacity: 1; } }
  @keyframes fade-out { 0% { opacity: 1; } 100% { opacity: 0; } }
}

header {
  background: #ccc;
  height: 165px;
  position: relative;
  // margin-bottom: -($unit/5);
  // svg.bottom {
  //   position: absolute;
  //   bottom: 0;
  //   width: 100%;
  //   height: $unit/2;
  //   bottom: 0;
  // }
  .brand {
    position: absolute;
    top: $unit/2;
    left: $unit;
  }
  .nav {
    text-align: right;
    margin: 0;
    padding: $unit 0;
  }
  .page-title h1 {
    color: white;
    margin: $unit/2 0;
    text-align: center;
  }
  .dropdown-toggle,
  .dropdown .btn.btn-link,
  .dropdown .btn:focus,
  .dropdown .btn:hover,
  .btn.btn-link,
  .btn.btn-link:focus,
  .btn.btn-link:hover,
  .btn.btn-link:active,
  .btn.btn-link.active,
  .btn:focus,
  .btn:hover {
    color: white !important;
    background: transparent;
    border-color: transparent;
  }
  .dropdown {
    text-align: left;
    .menu {
      padding: $unit/2 0;
      left: .4rem;
      right: .4rem,
    }
    .menu .menu-item>a {
      color: $secondary-color !important;
    }
    .menu .menu-item>a.active {
      background-color: $primary-color !important;
      color: white !important;
    }
    .menu .menu-item>a:focus,
    .menu .menu-item>a:hover,
    .menu .menu-item>a:active {
      background-color: $primary-color-dark !important;
      color: white !important;
    }
  }
  .dropdown-toggle {
    padding-right: $unit/4;
  }
  // .pure-menu-link {
  //   padding: $unit/2 0;
  //   margin: 0 $unit/3;
  //   border-bottom: 2px solid transparent;
  // }
  // .pure-menu-selected>.pure-menu-link, .pure-menu-selected>.pure-menu-link:visited,
  // .pure-menu-active>.pure-menu-link, .pure-menu-link:focus, .pure-menu-link:hover {
  //   background: transparent;
  //   color: white;
  //   border-bottom-color: rgba(255, 255, 255, .7);
  // }
  // .pure-menu-selected>.pure-menu-link, .pure-menu-selected>.pure-menu-link:visited {
  //   border-bottom-color: white;
  // }
  // .pure-menu-children {
  //   // width: 100%;
  //   padding: 0 $unit*3 0 0;
  //   margin: 0 $unit/3;
  //   text-align: left;
  //   border-radius: 0 0 2px 2px;
  //   transition: opacity .03s linear,transform .12s cubic-bezier(0, 0, 0.2, 1);
  //   box-shadow: 0px 5px 5px -3px rgba(0,0,0,0.2), 0px 8px 10px 1px rgba(0,0,0,0.14), 0px 3px 14px 2px rgba(0,0,0,0.12);
  //   .pure-menu-selected>.pure-menu-link, .pure-menu-selected>.pure-menu-link:visited,
  //   .pure-menu-active>.pure-menu-link, .pure-menu-link:focus, .pure-menu-link:hover,
  //   .pure-menu-link {
  //     color: black;
  //   }
  // }
  .btn.btn-link.my-account {
    color: $secondary-color !important;
  }
  .my-account {
    background: white !important;
    border-radius: 2rem;
    margin-left: $unit/3;
    .dropdown-toggle {
      border-color: transparent !important;
      color: $secondary-color !important;
    }
    .dropdown-toggle:focus,
    .dropdown-toggle:hover {
      color: $secondary-color-dark !important;
    }
  }
  // .btn.btn-link:last-child {
  //   margin-right: $unit/2;
  // }
}

.certificates {
  .certificate {
    .img-responsive {
      margin: 0 auto;
    }
  }
}

header,
.sidebar,
.noselect,
.saltire-badge {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.saltire-badge {
  position: relative;
  margin-bottom: $unit/2;
  .badge-content {
    position: absolute;
    height: 85px;
    width: 85px;
    top: 30px;
    left: auto;
    margin-left: .5px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: -0.1rem;
    font-weight: $badge-font-weight;
    color: white;
    text-align: center;
    border-radius: 50%;
  }
  .type-challenge {
    background-color: $theme-challenge;
    .img-responsive {
      max-width: 60%;
    }
  }
  .type-approach {
    font-size: 2.25rem;
    background-color: $theme-approach;
  }
  .type-ascent {
    font-size: 2rem;
    background-color: $theme-ascent;
  }
  .type-summit {
    background-color: $theme-summit;
    .img-responsive {
      max-width: 70%;
      margin-top: 10%;
    }
  }
}
.saltire-badge.disabled {
  filter: grayscale(1);
  opacity: 0.5;
}

.page .content-break {
  position: relative;
  svg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: $unit/2;
  }
}

.sidebar {
  border: 1px solid rgba(0, 0, 0, 0.12);
  .menu {
    box-shadow: none;
    .menu-item a {
      border-radius: 0 $unit*2 $unit*2 0;
      margin-right: 0;
    }
  }
}
.sidebar,
.dropdown {
  .menu {
    padding: 0;
    .menu-item a {
      .fa-fw {
        margin-right: $unit*.9;
      }
    }
    .active {
      color: $primary-color;
      font-weight: $heading-font-weight;
      .fal {
        font-weight: 500;
      }
      .far {
        font-weight: 600;
      }
    }
  }
}

.menu .menu-item>a.active {
  background-color: $primary-color;
  color: white;
}
.menu .menu-item>a:focus,
.menu .menu-item>a:hover,
.menu .menu-item>a:active {
  background-color: $primary-color-dark;
  color: white;
}

.sidebar-not-present {
  margin-top: -($unit);
  .body .container {
    padding-top: $unit*2;
    padding-bottom: $unit*3;
    max-width: $page-width;
    margin: 0 auto;
  }
}
.sidebar-present {
  margin-top: -($unit);
  .sidebar,
  .body .container {
    padding-top: $unit*2;
    padding-bottom: $unit*3;
  }
  .body .container {
    max-width: $page-width;
    margin: 0;
  }
  .empty {
    padding-left: 0;
    padding-right: 0;
    .empty-icon,
    .empty-title,
    .empty-subtitle,
    .empty-action {
      max-width: $page-width;
      margin-left: 0;
    }
  }
}

.caption {
  font-size: 92%;
}

form {
  position: relative;
}

.authentication-form {
  padding: $unit*1.5 0;
  min-height: 15vh;
  max-width: 500px !important;
  margin: 0 auto;
  position: relative;
  .middle-line-text {
    margin: $unit*2 0 $unit*2;
    border-bottom: 2px solid $gray-color;
    line-height: 0;
    text-align: center;
    vertical-align: middle;
    span {
      padding: $unit;
      color: #555;
    }
  }
  .social .btn {
    height: $unit*2.5;
    border: none;
  }
  .btn {
    position: relative;
    display: block;
    margin-bottom: $unit/2;
    width: 100%;
    color: white;
    // line-height: $unit*3;
    // height: $unit*3;
    .fa-2x {
      position: absolute;
      top: $unit/2;
      left: $unit/2;
    }
    .google-logo {
      top: .6rem;
      img {
        float: left;
        width: 28px;
        padding: $unit/4;
        background: white;
        border-radius: 3px;
      }
    }
  }
  #sign-in-message,
  #sign-up-message,
  #reset-password-message {
    display: none;
    a {
      font-weight: $heading-font-weight;
    }
  }
}
#sign-out-form {
  justify-content: center;
  align-items: center;
  .loading {
    display: flex;
  }
}
form {
  #active-form-message {
    display: none;
    a {
      font-weight: $heading-font-weight;
    }
  }
}

.card-header .organisation {
  margin-bottom: 0;
}

.pagination {
  justify-content: center;
}

.social .btn, .social-button {
  height: $unit*2.5;
  border: none;
  position: relative;
  display: block;
  margin-bottom: $unit/2;
  width: 100%;
  color: white;
  .fa-2x {
    position: absolute;
    top: $unit/2;
    left: $unit/2;
  }
  .google-logo {
    top: .6rem;
    img {
      float: left;
      width: 28px;
      padding: $unit/4;
      background: white;
      border-radius: 3px;
    }
  }
}

.chip.bg-google,
#continue-with-google {
  background-color: #DB3633 !important;
}
.chip.bg-twitter,
#continue-with-twitter {
  background-color: #007DA3 !important;
}
.chip.bg-facebook,
#continue-with-facebook {
  background-color: #2C5797 !important;
}
#link-unlink {
  .chip {
    color: white !important;
    border: none;
    cursor: pointer;
    outline: none;
    display: block;
    .fa-fw {
      margin-right: $unit/4;
    }
  }
}

.card-loader {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none;
  .card-loader-background {
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 1;
  }
  .card-loader-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
  }
}

.authentication-form {
  .btn {
    color: white;
    text-align: center;
  }
}

.header-image {
  margin-top: -($unit);
  margin-bottom: -($unit);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 38%;
  min-height: $home-splash-height;
  .header-image-overlay {
    position: relative;
    width: 100%;
    // background: linear-gradient(178deg, rgba(255,255,255,0.95) 0%,rgba(255,255,255,0.25) 100%);
    min-height: $home-splash-height;
    svg.bottom {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: $unit*2;
    }
  }
  .container {
    min-height: $home-splash-height;
    margin-top: 0;
    padding: 0;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-align: center;
  }
}

ul.fa-ul {
  margin-left: $unit*1.3333;
}

.faded-overflow {
  overflow: hidden;
  &:before {
    background: linear-gradient(rgba(236, 242, 233, 0), rgba(236, 242, 233, 1));
  }
}

.search-form {
  .input-group {
    .form-select {
      flex: 0 0 auto
    }
  }
}

.cards.equal-height {
  .column {
    padding-bottom: 0.8rem;
  }
}
.equal-height {
  .card {
    height: 100%;
  }
  .fa-ul.hours {
    margin-top: 0;
    margin-bottom: 0;
  }
}
.contact.equal-height {
  .card-body {
    padding: 0;
  }
}

.form.disabled,
form.disabled {
  pointer-events: none;
  >* {
    opacity: 0.5;
  }
  &:after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 47.4%;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border-top: 2px solid $primary-color;
    border-right: 2px solid transparent;
    animation: spinner .6s linear infinite;
    display: flex;
    align-items: center;
    justify-content: center;
    animation-name: spin;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 1000ms;
  }
}

@keyframes spin {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }
}


footer {
  position: relative;
  margin-top: -($unit*1.5);
  svg {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  svg.top {
    height: $unit*1.5;
    top: -($unit*1.5);
  }
  svg.mid {
    width: 30%;
    right: 0;
    bottom: $unit/4;
    height: $unit*4;
  }
  svg.bottom {
    height: $unit/2;
    bottom: 0;
  }
  .footer-main {
    margin-top: 1.5rem;
    // background: linear-gradient(166deg, rgba(89,22,105,1) 84.9%, rgba(234,125,0,1) 85%);
    padding: 0 0 $unit;
    position: relative;
    .fa-li span,
    p,
    h4,
    a {
      color: white;
    }
    a:hover {
      color: white;
    }
    p {
      margin: 0;
    }
    ul {
      margin: 0;
      li {
        list-style-type: none;
        margin-top: 0;
      }
    }
    ul.fa-ul {
      margin-left: $unit*1.5;
    }
  }
  .footer-copyright {
    .columns {
      display: flex;
      align-items: center;
    }
    p,
    a {
      color: $theme-footer-dark;
    }
    a:hover {
      color: $theme-footer-dark;
    }
    p {
      margin: $unit/2 0;
    }
    .logos {
      text-align: right;
      a:hover {
        text-decoration: none;
      }
      .scvo-logo img {
        max-height: 38px;
        filter: invert(1);
      }
      .sg-logo img {
        max-height: 32px;
        margin-top: 5px;
        margin-right: $unit*1.5;
      }
    }
  }
}

.claim-code {
  color: #333;
  background-color: #eee;
  padding: $unit/5 $unit/2 0;
  margin-bottom: $unit/4;
  font-size: 95%;
  line-height: 2;
  display: inline-block;
  font-family: 'Consolas', 'Monaco', 'Lucida Console', 'Liberation Mono', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Courier New', monospace;
}

.table th,
.table td {
  border-bottom-width: 1px;
  font-weight: $heading-font-weight;
}
// .table tr:last-child {
//   th,
//   td {
//     border-bottom-width: 0;
//   }
// }
.table-condensed {
  th,
  td {
    width: 12.5%;
  }
  .form-checkbox {
    padding: .1rem .4rem;
  }
}

@media screen and (max-width: 790px) {
  .table-condensed {
    margin-bottom: 0;
    border-top: 0;
    width: 100%;
    thead, tbody {
      float: left;
    }
    th,
    td {
      width: auto;
    }
    thead {
      width: 20%;
      tr {
        width: 100%;
        margin-top: 7px;
        th {
          font-size: 1rem;
          text-align: left;
          border-width: 0;
          margin-top: .33rem;
          // height: 40px;
          p {
            padding: $unit/10 0;
          }
        }
        th:last-child {
          border-bottom: none;
        }
      }
    }
    tbody {
      width: 80%;
      tr {
        width: 33.33%;
        th {
          height: 42px;
          text-align: center;
          border-top: none;
        }
        td {
          text-align: center;
        }
      }
    }
    tr {
      display: block;
      float: left;
    }
    th, td {
      display: block;
    }
  }
}

.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-centre {
  text-align: center;
}
.text-justify {
  text-align: justify;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.pull-centre {
  margin-left: auto !important;
  margin-right: auto !important;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.align-centre {
  display: flex;
  justify-content: center !important;
  align-items: center;
}
.v-padding {
  padding-top: $unit/2 !important;
  padding-bottom: $unit/2 !important;
}
.v-padding-full {
  padding-top: $unit !important;
  padding-bottom: $unit !important;
}
.h-padding {
  padding-left: $unit/2 !important;
  padding-right: $unit/2 !important;
}
.h-padding-full {
  padding-left: $unit !important;
  padding-right: $unit !important;
}
.x-padding {
  padding: $unit/2 !important;
}
.x-padding-full {
  padding: $unit !important;
}
.t-padding {
  padding-top: $unit/2 !important;
}
.b-padding {
  padding-bottom: $unit/2 !important;
}
.l-padding {
  padding-left: $unit/2 !important;
}
.r-padding {
  padding-right: $unit/2 !important;
}
.t-padding-full {
  padding-top: $unit !important;
}
.b-padding-full {
  padding-bottom: $unit !important;
}
.l-padding-full {
  padding-left: $unit !important;
}
.r-padding-full {
  padding-right: $unit !important;
}
.v-margin {
  margin-top: $unit/2 !important;
  margin-bottom: $unit/2 !important;
}
.v-margin-full {
  margin-top: $unit !important;
  margin-bottom: $unit !important;
}
.v-margin-full-bottom {
  margin-bottom: $unit !important;
}
.v-margin-none {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.h-margin {
  margin-left: $unit/2 !important;
  margin-right: $unit/2 !important;
}
.h-margin-full {
  margin-left: $unit !important;
  margin-right: $unit !important;
}
.t-margin {
  margin-top: $unit/2 !important;
}
.b-margin {
  margin-bottom: $unit/2 !important;
}
.l-margin {
  margin-left: $unit/2 !important;
}
.r-margin {
  margin-right: $unit/2 !important;
}
.t-margin-full {
  margin-top: $unit !important;
}
.b-margin-full {
  margin-bottom: $unit !important;
}
.l-margin-full {
  margin-left: $unit !important;
}
.r-margin-full {
  margin-right: $unit !important;
}
.x-margin {
  margin: $unit/2 !important;
}
.x-margin-full {
  margin: $unit !important;
}
.no-margin {
  margin: 0 !important;
}
.border {
  border-style: solid;
  border-width: 1px;
}
.t-border {
  border-top-style: solid;
  border-top-width: 1px;
}
.l-border {
  border-left-style: solid;
  border-left-width: 1px;
}
.b-border {
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
.r-border {
  border-right-style: solid;
  border-right-width: 1px;
}
.rounded {
  border-radius: 4px;
}
.tl-rounded {
  border-top-left-radius: 4px;
}
.tr-rounded {
  border-top-right-radius: 4px;
}
.bl-rounded {
  border-bottom-left-radius: 4px;
}
.br-rounded {
  border-bottom-right-radius: 4px;
}
.t-rounded {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.l-rounded {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.b-rounded {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.r-rounded {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.rounded-full {
  border-radius: 16px;
}
.tl-rounded-full {
  border-top-left-radius: 16px;
}
.tr-rounded-full {
  border-top-right-radius: 16px;
}
.bl-rounded-full {
  border-bottom-left-radius: 16px;
}
.br-rounded-full {
  border-bottom-right-radius: 16px;
}
.t-rounded-full {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}
.l-rounded-full {
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
}
.b-rounded-full {
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}
.r-rounded-full {
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
}

@media (max-width: 479px) {
  .no-float-sm {
    float: auto !important;
  }
  .no-t-margin-sm {
    margin-top: 0 !important;
  }
  .no-b-margin-sm {
    margin-bottom: 0 !important;
  }
  .no-l-margin-sm {
    margin-left: 0 !important;
  }
  .no-r-margin-sm {
    margin-right: 0 !important;
  }
  .no-v-margin-sm {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
  .no-h-margin-sm {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .no-t-padding-sm {
    padding-top: 0 !important;
  }
  .no-b-padding-sm {
    padding-bottom: 0 !important;
  }
  .no-l-padding-sm {
    padding-left: 0 !important;
  }
  .no-r-padding-sm {
    padding-right: 0 !important;
  }
  .no-v-padding-sm {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
  .no-h-padding-sm {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .t-margin-sm {
    margin-top: $unit/2 !important;
  }
  .b-margin-sm {
    margin-bottom: $unit/2 !important;
  }
  .l-margin-sm {
    margin-left: $unit/2 !important;
  }
  .r-margin-sm {
    margin-right: $unit/2 !important;
  }
  .v-margin-sm {
    margin-top: $unit/2 !important;
    margin-bottom: $unit/2 !important;
  }
  .h-margin-sm {
    margin-left: $unit/2 !important;
    margin-right: $unit/2 !important;
  }
  .t-margin-full-sm {
    margin-top: $unit !important;
  }
  .b-margin-full-sm {
    margin-bottom: $unit !important;
  }
  .l-margin-full-sm {
    margin-left: $unit !important;
  }
  .r-margin-full-sm {
    margin-right: $unit !important;
  }
  .v-margin-full-sm {
    margin-top: $unit !important;
    margin-bottom: $unit !important;
  }
  .h-margin-full-sm {
    margin-left: $unit !important;
    margin-right: $unit !important;
  }
  .t-padding-sm {
    padding-top: $unit/2 !important;
  }
  .b-padding-sm {
    padding-bottom: $unit/2 !important;
  }
  .l-padding-sm {
    padding-left: $unit/2 !important;
  }
  .r-padding-sm {
    padding-right: $unit/2 !important;
  }
  .v-padding-sm {
    padding-top: $unit/2 !important;
    padding-bottom: $unit/2 !important;
  }
  .h-padding-sm {
    padding-left: $unit/2 !important;
    padding-right: $unit/2 !important;
  }
  .t-padding-full-sm {
    padding-top: $unit !important;
  }
  .b-padding-full-sm {
    padding-bottom: $unit !important;
  }
  .l-padding-full-sm {
    padding-left: $unit !important;
  }
  .r-padding-full-sm {
    padding-right: $unit !important;
  }
  .v-padding-full-sm {
    padding-top: $unit !important;
    padding-bottom: $unit !important;
  }
  .h-padding-full-sm {
    padding-left: $unit !important;
    padding-right: $unit !important;
  }
}

.achievements > .working-towards {
  display: flex;
}
.achievements > .working-towards ~ .working-towards,
.hidden, .hide {
  display: none;
}

::-moz-selection {
  color: #fff;
  background: $dark-color;
}
::selection {
  color: #fff;
  background: $dark-color;
}

// body {
//   background-color: $theme-footer-dark;
// }
// ::-moz-selection {
//   color: #fff;
//   background: $dark-color;
// }
// ::selection {
//   color: #fff;
//   background: $dark-color;
// }
// .mdc-theme--background {
//   background-color: white !important;
// }
// .mdc-top-app-bar {
//   background-color: #fff;
// }
//
// a {
//   color: $primary-color;
// }
// a:not(.mdc-list-item):not(.mdc-button):hover {
//   color: $dark-color;
// }
//
// header {
//   .container-fluid {
//     .mdc-top-app-bar__upper,
//     .mdc-top-app-bar__lower {
//       background-color: $primary-color;
//     }
//     .mdc-tab-bar {
//       .mdc-tab {
//         color: $primary-color;
//         .mdc-tab__text-label {
//           color: $primary-color;
//         }
//       }
//     }
//     .mdc-top-app-bar__section--logo {
//       padding-left: $unit;
//     }
//     #upper-tab-bar {
//       .mdc-tab:hover .mdc-tab__text-label {
//         border-bottom-color: $primary-color;
//       }
//       .mdc-tab.mdc-tab--active .mdc-tab__text-label {
//         border-bottom-color: $primary-color;
//       }
//     }
//     .mdc-top-app-bar__main .mdc-tab-bar,
//     .mdc-top-app-bar__user .mdc-tab-bar {
//       .mdc-tab {
//         color: #fff;
//       }
//       .mdc-tab:hover .mdc-tab__text-label {
//         border-bottom-color: rgba(255, 255, 255, 0.75);
//       }
//       .mdc-tab.mdc-tab--active .mdc-tab__text-label {
//         border-bottom-color: rgba(255, 255, 255, 0.9);
//       }
//     }
//     .mdc-top-app-bar__navigation-icon {
//       color: white;
//     }
//     .mdc-top-app-bar__main,
//     .mdc-top-app-bar__user {
//       .mdc-menu-surface--anchor {
//         .mdc-button:hover {
//           border-bottom-color: rgba(255, 255, 255, 0.6);
//         }
//       }
//     }
//     .mdc-top-app-bar__section {
//       .mdc-top-app-bar__action-item {
//         color: $secondary-color !important;
//       }
//     }
//     .mdc-top-app-bar__section--logo img {
//       max-height: 80px;
//     }
//   }
// }
// .mdc-tab-bar {
//   .mdc-tab {
//     color: $secondary-color;
//   }
//   .my-saltire {
//     background: white;
//     border-radius: 2rem;
//     color: $primary-color !important;
//     padding: 0 1rem;
//   }
// }
//
// .container-home {
//   .my-saltire {
//     .my-saltire-item {
//       text-align: center;
//     }
//   }
// }
// .search-form {
//   padding-top: 0;
// }
//
// .responsive-img {
//   max-width: 100%;
// }
// .certificates {
//   .certificate {
//     .certificate-icon {
//       max-width: 100%;
//     }
//   }
// }
// .achievements {
//   .responsive-img {
//     max-width: 75%;
//     margin: 0 auto;
//     display: block;
//   }
//   .description {
//     text-align: center;
//     font-weight: bold;
//   }
// }
// .mdc-button {
//   .mdc-list-item__graphic {
//     line-height: 1.5;
//   }
// }
// .mdc-button--large {
//   width: 100%;
// }
// .main-body {
//   margin-top: 0;
//   padding-top: 100px;
//   background-color: white;
// }
// .top-bar-stuck {
//   top: 0;
// }
// .container-fluid {
//   box-sizing: border-box;
//   max-width: 100%;
//   width: 100%;
//   margin: 0 auto; // padding: 0 1.5rem;
// }
// .container-content {
//   margin: 0;
//   padding: 0 $unit $unit*1.5;
// }
//
// .header-image {
//   background-size: cover;
//   background-repeat: no-repeat;
//   background-position: center center;
//   min-height: 33vh;
//   .header-image-overlay {
//     width: 100%;
//     background: linear-gradient(170deg, #fff 4.79%,rgba(255,255,255,0) 100.00%);
//     min-height: 33vh;
//   }
//   .container-content.content-page {
//     min-height: 33vh;
//     margin-top: 0;
//     padding: 0;
//     display: flex;
//     align-items: flex-end;
//     justify-content: center;
//     text-align: center;
//   }
// }
// .container-content.content-hours {
//   .claim-code {
//     color: #333;
//     background-color: #eee;
//     padding: $unit/5 $unit/4 0;
//     margin-bottom: $unit/4;
//     font-size: 95%;
//     display: inline-block;
//     font-family: 'Consolas', 'Monaco', 'Lucida Console', 'Liberation Mono', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Courier New', monospace;
//   }
// }
//
// // .mdc-text-field--textarea:not(.mdc-text-field--disabled) {
// //   background-color: whitesmoke !important;
// // }
// .mdc-typography--headline4,
// .mdc-typography--headline5,
// .mdc-typography--headline6,
// .mdc-form-field,
// .mdc-select,
// .mdc-text-field {
//   margin-bottom: $unit;
// }
//
// .authentication-form,
// .reset-password-form {
//   padding: $unit*1.5 0;
//   .mdc-card {
//     min-height: 15vh;
//     max-width: 500px;
//     margin: 0 auto;
//     position: relative;
//   }
//   .middle-line-text {
//     margin: $unit*2 0 $unit*2;
//     border-bottom: 2px solid $gray-color;
//     line-height: 0;
//     text-align: center;
//     vertical-align: middle;
//     span {
//       padding: $unit;
//       color: #555;
//     }
//   }
//   .mdc-button {
//     position: relative;
//     display: block;
//     margin-bottom: $unit/2;
//     width: 100%;
//     color: white;
//     width: 100%;
//     color: white;
//     line-height: $unit*3;
//     height: $unit*3;
//     .fa-2x {
//       position: absolute;
//       top: $unit/2;
//       left: $unit/2;
//     }
//     .google-logo {
//       img {
//         float: left;
//         width: $unit*1.5;
//         padding: $unit/4;
//         background: white;
//       }
//     }
//   }
//   #sign-in-message,
//   #sign-up-message,
//   #reset-password-message {
//     display: none;
//     a {
//       font-weight: $heading-font-weight;
//     }
//   }
// }
// #sign-out-loader {
//   display: flex;
// }
//
// .card-loader {
//   position: absolute;
//   width: 100%;
//   height: 100%;
//   top: 0;
//   left: 0;
//   display: none;
//   .card-loader-background {
//     display: block;
//     position: absolute;
//     height: 100%;
//     width: 100%;
//     top: 0;
//     left: 0;
//     opacity: 1;
//   }
//   .card-loader-inner {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     height: 100%;
//     width: 100%;
//   }
// }
//
// .authentication-form,
// .reset-password-form {
//   .middle-line-text {
//     border-bottom: 2px solid $secondary-color;
//     span {
//       background-color: white;
//       color: $secondary-color;
//     }
//   }
//   .mdc-button {
//     color: white;
//     text-align: center;
//   }
// }
//
// .mdc-button .spinner {
//   display: none;
// }
//
// .mdc-button .icon {
//   display: inline-block;
// }
//
// .mdc-button:disabled .spinner {
//   display: inline-block;
// }
//
// .mdc-button:disabled .icon {
//   display: none;
// }
//
// .mdc-card .report,
// .report {
//   opacity: 0.85;
//   font-size: 85%;
//   // margin-top: $unit/2;
//   .fa-fw,
//   a,
//   a:active,
//   a:focus,
//   a:hover {
//     color: $theme-footer-dark;
//   }
// }
// .mdc-chip {
//   background-color: $primary-color;
//   color: white !important;
//   .mdc-chip__icon.mdc-chip__icon--leading {
//     color: white;
//   }
//   .mdc-chip__checkmark-path {
//     stroke: white !important;
//   }
// }
// .mdc-chip:hover {
//   background-color: $dark-color;
//   text-decoration: none;
// }
//
//
// .card-loader {
//   .card-loader-background {
//     background-color: white;
//   }
//   .card-loader-inner {
//     color: $primary-color;
//   }
// }
//
// .email-template {
//   border: 1px solid black;
//   margin: 0.5*$unit;
// }
//
// // Footer ======================================================================
// footer.mdc-layout__footer.mdc-theme--footer-bg.mdc-theme--on-footer {
//   background-color: $theme-footer-light !important;
//   color: $theme-footer !important;
// }
//
// footer.mdc-layout__footer {
//   border-top: none;
//   background-color: $theme-footer-light;
//   box-shadow: none;
//   h3 {
//     color: $theme-footer;
//     font-weight: $heading-font-weight;
//     border-bottom: none;
//     font-size: 1.1rem;
//     margin: $unit 0 0;
//     text-transform: uppercase;
//   }
//   .about a,
//   a {
//     color: $theme-footer;
//   }
//   .about a:hover,
//   a:hover {
//     color: $theme-footer;
//   }
//   .mdc-layout-grid {
//     p {
//       color: $theme-footer;
//     }
//   }
//   .fa-ul {
//     .fa-li {
//       .fas,
//       .fal,
//       .far,
//       .fab {
//         color: $theme-footer;
//       }
//     }
//   }
//   .footer-copyright {
//     background-color: $theme-footer-dark;
//     p,
//     a {
//       color: white;
//     }
//     a:hover {
//       color: white;
//     }
//   }
//   .logos {
//     display: flex;
//     align-items: center;
//     justify-content: flex-end;
//     .brand-logo {
//       display: inline-block;
//       margin-left: $unit*1.5;
//     }
//     .sg-logo img {
//       width: 160px;
//       margin-top: 4px;
//     }
//   }
// }
//
// :focus {
//   outline: none;
// }
// .pull-right {
//   float: right;
// }
//
// ::-moz-selection {
//   color: white;
//   background: black;
// }
// ::selection {
//   color: white;
//   background: black;
// }
// ::-webkit-input-placeholder {
//   color: #777;
// }
// ::-ms-input-placeholder {
//   color: #777;
// }
// ::-moz-placeholder {
//   color: #777;
// }
//
// // Inline Edit ==========
//
// input.inline-edit{
//   /* Eliminate borders and padding */
//   border: none;
//   padding: 0;
//   margin: 0;
//
//   /* Inherit the parent element's typography */
//   font: inherit;
//   color: inherit;
//   line-height: inherit;
//   font-size: inherit;
//   text-align: inherit;
//
//   /* Seems to help alignment in headers */
//   vertical-align: top;
// }
//
// /* Add interaction cues on hover and focus */
// input.inline-edit:hover,
// input.inline-edit:focus{
//   /* Change the background to a light yellow */
//   background-color: #FFD;
//
//   /* A subtle transition never hurts */
//   -webkit-transition: background-color 0.5s;
//   -moz-transition: background-color 0.5s;
//   -ie-transition: background-color 0.5s;
//   transition: background-color 0.5s;
// }
//
//
// input.inline-edit[type=number] {
//   max-width:40px; /* Firefox */
// }