<div class="container-fluid container-content content-page">
  <h1>What is the Advocate Programme?</h1>
  <p>
    The UNHS Advocate is a volunteer and learning based reward title receivable after 20 hours of contribution towards UN goals or values within a calendar year.
  </p>
  <p>
    Opportunities to contribute towards UN goal or values are designed to work with the time that you have available. These opportunities are refreshed on a regular basis. Through signing up for the programme, you will receive monthly email notifying you of new and ongoing opportunities.
  </p>
​
  <h2>How does it work?</h2>
  <ol>
    <li>Register for and complete eligible opportunities to contribute</li>
    <li>Confirm your hours with our team</li>
    <li>Receive your reward certificate!</li>
  </ol>
  <p>
    Upon completion of your 20 hours, a PDF certificate will be emailed to you with your name and reward title of your achievement, UNHS Advocate, before December 31 of the calendar year. Please note that hours are not transferable from one year to the next.
  </p>

  <h2>Examples of Eligible Opportunities</h2>
  <ol>
    <li>UNHS organised seminars or conference events</li>
    <li>UNHS organised or endorsed community service or community building events</li>
    <li>Contributing to our blog</li>
    <li>Other volunteering events or learning experiences authorized by our team</li>
  </ol>

  ​<h2>Interested?</h2>
  <p>
    Registration will open soon. Sign up for our newsletter below to receive a notification.
  </p>
  <iframe width="100%" height="400px" name="htmlComp-iframe" scrolling="auto" frameBorder="0" src="https://www-unhscotland-org-uk.filesusr.com/html/918b38_5e7bd15848c7a495ef4da823326c2a9a.html"></iframe>
</div>